<h3 class="text-center my-5 text-light">User Login</h3>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="border p-3 rounded bg-light">
        <form action="/login" method="post">
          <div class="form-group">
            <label for="user">Username</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input
                id="username"
                type="text"
                class="form-control"
                placeholder="Username (Your email)"
                name="email"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck"
                name="example1"
              />
              <label
                class="custom-control-label"
                for="customCheck"
              >Remember</label>
            </div>
          </div>
          {{! <div class="form-group">
              <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Invalid username or password!
              </div>
            </div> }}
          <div class="form-group">
            <button class="btn btn-success px-5" type="submit">Login</button>
          </div>
          <div>
            <a href="/auth/google" class="btn btn-danger"><span
                class="fa fa-google"
              ></span>
              SignIn with Google (please press this)</a>
          </div>
          <div class="form-group">
        <p>Dont have any account? <a href="/register">Register now!</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>